<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <style>
  <!--
    body { max-width:1240px; margin-left: auto; margin-right: auto; }
    td, th { padding: 0 10px 0 10px; }
  -->
  </style>
</head>
<body>
  <main>
{{ content }}
  </main>
  <footer>
    <div id="footer-content">
      Footer
    </div>
  </footer>
</body>
</html>
